@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@-ms-viewport {
    width: device-width;
}

body, a {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #31403c;
  font-size: 20px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 40px;
  font-size: 32px;
  padding: 0.5em;
}

h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #31403c;
    font-size: 28px;
  }

h3 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #31403c;
  font-size: 24px;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #31403c;
  font-size: 20px;
}

.button {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.4em 0.4em;
    text-decoration: none;
    color: #31403c;
    background: #FFF1FA;
    transition: .4s;
    font-size: 20px;
    outline-color: #31403c;
    outline-style: double;
}

.header {
  border-radius: 5px;
  overflow: hidden;
  background-color: #ff7373;
  padding: 18px 15px;
}

.header a {
  float: left;
  color: #424242;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 16px; 
  line-height: 18px;
  border-radius: 6px;
}

.header a.logo {
  font-size: 36px;
  font-weight: bold;
}

.header a:hover {
  background-color: #FFF1FA
  color: #31403c;
}

.header a.active {
  background-color: #FFF1FA;
  color: #31403c;
}

.header-nav {
  float: right;
}

.page-header {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px 0 white;
}

.page-header * {
    display: inline;
}

.page-header li {
    margin: 20px;
}

.page-header li a {
    color: black;
    text-decoration: none;
}

footer {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #31403c;
  font-size: 12px;
}